#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$UiQVuUSsBBA03c8w$AbsgpCBn/VZMhyc8PdcWTXJenr8BE98SWkjKcUItV/3r.lfK0kv1iiIVYIg3vrA3wV1rT.rEve5AQcyk6f4Rj/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc --nontp
user --groups=wheel --name=suser --password=$6$AemDiemjfk5S1IBt$Qdm/K1zBtU6CT.b7YJkeyuZlY3CLYfkyK4/mHFAJqlvDea1e0Mt2PrYKV/QEkRy66SYFyceqw7sVxtCw6xCCx1 --iscrypted
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
